* {
    border: none;
    border-radius: 0;
    font-family: 'Pretendard SemiBold', sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: #000000;
    color: #ffffff;
}

tooltip {
    background-color: #000000;
    border: 1px solid #444444;
}

tooltip label {
    color: #ffffff;
    padding: 2px 4px;
}

#workspaces button,
#clock,
#tray,
#power-profiles-daemon,
#cpu,
#battery,
#custom-notification {
    padding: 0 5px;
    margin: 3px 2px;
    background-color: transparent;
    color: #ffffff;
}

#tray > .passive,
#tray > .active,
#tray > .needs-attention,
#tray button,
#tray image {
    margin: 0 6px;
    padding: 0 2px;
}

#workspaces button:hover,
#power-profiles-daemon:hover,
#custom-notification:hover {
    background-color: #333333;
}

#workspaces button.focused {
    background-color: #444444;
}

#workspaces button.urgent {
    background-color: #a00000;
}

#battery.warning {
    color: #ffaa00;
}

#battery.critical:not(.charging) {
    color: #ff4444;
}
