spawn-at-startup "kime"
spawn-at-startup "waybar"
spawn-at-startup "swaync"
spawn-at-startup "swaybg" "-i" "/home/maka/Pictures/wallpaper/vvvv.png" "-m" "fill"
spawn-at-startup "swayidle" "-w" \
    "timeout" "250" "niri msg action power-off-monitors" \
    "timeout" "255" "loginctl lock-session" \
    "timeout" "1000" "systemctl suspend" \
    "before-sleep" "loginctl lock-session; sleep 1" \
    "lock" "pidof hyprlock || hyprlock &"
spawn-at-startup "/usr/libexec/xfce-polkit"
spawn-at-startup "blueman-applet"
spawn-at-startup "nm-applet"
spawn-at-startup "pasystray" "--notify=none"
spawn-at-startup "tailscale" "systray"
spawn-at-startup "wl-paste" "--watch" "cliphist" "store"

environment {
    GTK_IM_MODULE "kime"
    QT_IM_MODULE "kime"
    XMODIFIERS "@im=kime"
    SDL_IM_MODULE "kime"
    INPUT_METHOD "kime"
    GLFW_IM_MODULE "kime"
}

output "eDP-1" {
    mode "2240x1400"
    scale 1.15
    position x=0 y=0
}

output "DP-1" {
    mode "3840x2160"
    scale 1.4
    position x=1920 y=0
}

input {
    keyboard {
        xkb {
            layout "kr"
        }
    }
    touchpad {
        tap
        dwt
        natural-scroll
    }
}

gestures {
    hot-corners {
        off
    }
}

window-rule { 
    clip-to-geometry true
    geometry-corner-radius 12
}

layout {
    gaps 10
    default-column-width { proportion 0.5; }
    focus-ring {
        off
    }
}

binds {
    Mod+T { spawn "alacritty"; }
    Mod+Space { spawn "rofi" "-show" "drun" "-show-icons"; }
    Mod+N { spawn "swaync-client" "-t" "-sw"; }
    Mod+R { spawn-sh "cliphist list | rofi -dmenu -i -p clipboard | cliphist decode | wl-copy"; }
    Mod+Shift+R { spawn-sh "cliphist wipe"; }
    Mod+F { spawn-sh "grim -g \"$(slurp)\" - | wl-copy"; }
    Ctrl+Shift+Escape { spawn "xfce4-taskmanager"; }

    Mod+L { spawn "loginctl" "lock-session"; }
    Mod+Escape { close-window; }
    Mod+Shift+Escape { quit; }

    Mod+Q { focus-column-left; }
    Mod+W { focus-column-right; }
    Mod+A { move-column-left; }
    Mod+S { move-column-right; }
    Mod+E { set-column-width "+10%"; }
    Mod+D { set-column-width "-10%"; }
    Mod+Z { maximize-column; }
    Mod+X { toggle-window-floating; }
    Mod+Shift+A { focus-monitor-left; }
    Mod+Shift+S { focus-monitor-right; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05-"; }
    XF86AudioMute allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "set" "10%+"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "set" "10%-"; }
}
